@model Gerador_CSS.Models.ButtonModel
@using Gerador_CSS.Models;



@{
    ViewBag.Title = "Gerador de Botão CSS";
}

<!DOCTYPE html>

<html>
<head>

    <style id="hover">
    </style>
</head>
<body>

    <div class="row col-12">
        <div class="col-md-6" align="center" style="margin-top: 30px">
            <div id="div-button" align="center">
                <div style="margin: 10px">
                    <button id="mybtn" class="mybtn">Button</button>
                    <input title="Mudar Cor de Fundo" style="width: 30px; height: 30px; float: right" onchange="BackgroundDivColorSelector(this)" value="#ffffff" type="color" />
                </div>
            </div>
            <div id="div-css">
                <div align="center">
                    <h3>CSS do seu botão aqui</h3>
                </div>
                <div>
                    <textarea spellcheck="false" id="css_code" class="my_text_area" readonly></textarea>
                </div>
                <div>
                    <button class="btn-copy" onclick="CopyToClipboardCSS()">Copiar CSS</button>
                    @if (Request.IsAuthenticated)
                    {
                        if (Model.Button_id == 1)
                        {
                            <button class="btn-insert" type="button" onclick="InsertOrUpdateButtonToSuggestionBox('0')">Inserir Botão</button>
                        }
                        else
                        {
                            <button class="btn-insert" type="button" onclick="InsertOrUpdateButtonToSuggestionBox('1')">Atualizar Botão</button>
                        }

                    }

                </div>
               
            </div>
        </div>

        <div id="div-properties" class="col-md-6" align="center">
            <form id="form-button" action="@Url.Action("InsertButtonToSuggestionBox", "Button")" method="post">
                
                <input type="hidden" name="Atualiza_Button" id="Atualiza_Button" />
                <input type="hidden" name="Button_Id" value="@Model.Button_id" />

                @Html.Partial("_Static_Button_Partial", Model)

                @Html.Partial("_Hover_Button_Partial", Model)

                

            </form>


        </div>
    </div>

    
</body>
</html>


<script>
    function InsertOrUpdateButtonToSuggestionBox(Update) {
                

        let Atualiza_Button = Update == '1' ? true : false;

        document.getElementById('Atualiza_Button').value = Atualiza_Button;
        

        document.getElementById('checkbox_font_shadow_enable').checked = true;
        document.getElementById('checkbox_static_shadow_enable').checked = true;
        document.getElementById('checkbox_static_inset_shadow_enable').checked = true;

        document.getElementById('checkbox_font_shadow_enable_hover').checked = true;
        document.getElementById('checkbox_hover_shadow_enable').checked = true;
        document.getElementById('checkbox_hover_inset_shadow_enable').checked = true;

        FontShadowEnable();        
        StaticShadowEnable();        
        StaticShadowInsetEnable();
        FontShadowEnableHover();
        HoverShadowEnable();        
        HoverShadowInsetEnable();

        $("#form-button").submit();
    }
</script>