@model Gerador_CSS.Models.Button
@using Gerador_CSS.Models;



@{
    ViewBag.Title = "Gerador de Botão CSS";
}

<!DOCTYPE html>

<html>
<head>

    <style id="hover">
    </style>
</head>
<body>

    <div class="row col-12">
        <div class="col-md-6" align="center" style="margin-top: 30px">
            <div id="div-button" align="center">
                <div style="margin: 10px">
                    <button id="mybtn" class="mybtn">Button</button>
                    <input title="Mudar Cor de Fundo" style="width: 30px; height: 30px; float: right" onchange="BackgroundDivColorSelector(this)" value="#ffffff" type="color" />
                </div>
            </div>
            <div style="padding: 10px; box-shadow: grey 2px 2px 2px">
                <div align="center">
                    <h3>CSS do seu botão aqui</h3>
                </div>
                <div>
                    <textarea spellcheck="false" id="css_code" class="my_text_area" readonly></textarea>
                </div>
                <div>
                    <button class="btn-copy" onclick="CopyToClipboardCSS()">Copiar CSS</button>
                    @if (Request.IsAuthenticated)
                    {
                        <button class="btn-inserir" type="button" onclick="InsertButtonToSuggestionBox()">Inserir Botão</button>
                    }

                </div>
               
            </div>
        </div>

        <div class="col-md-6" align="center"  style="overflow: auto; max-height: 450px; margin-top: 30px ">
            <form id="form-button" action="@Url.Action("InsertButtonToSuggestionBox", "Button")" method="post">

                @Html.Partial("_Static_Button_Partial", Model)

                @Html.Partial("_Hover_Button_Partial", Model)

                

            </form>


        </div>
    </div>

    
</body>
</html>


<script>
    function InsertButtonToSuggestionBox() {
       

        document.getElementById('checkbox_font_shadow_enable').checked = true;
        document.getElementById('checkbox_static_shadow_enable').checked = true;
        document.getElementById('checkbox_static_inset_shadow_enable').checked = true;

        document.getElementById('checkbox_font_shadow_enable_hover').checked = true;
        document.getElementById('checkbox_hover_shadow_enable').checked = true;
        document.getElementById('checkbox_hover_inset_shadow_enable').checked = true;

        FontShadowEnable();        
        StaticShadowEnable();        
        StaticShadowInsetEnable();
        FontShadowEnableHover();
        HoverShadowEnable();        
        HoverShadowInsetEnable();

        $("#form-button").submit();
    }
</script>